@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor-bg-btn-modal: #0a2b58;
    --cor-tr-rei-rainha: #fdeda8;
    --cor-bg-body: #0a2b5821;
    --cor-main: #0a2b58;
    --cor-tr-principe-princesa: #fef8dc;
    --cor-tr-zebrada: #c1c1c178;
    --cor-tr-terceiro-terceira: #c1c1c178;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0 20px;
    font-family: 'Inter', sans-serif;
    background-color: var(--cor-bg-body);
}

button,
input[type=submit],
input[type=reset] {
    cursor: pointer;
}

header {
    background-image: url(../assets/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10vh auto 0 auto;
    max-width: 550px;
    height: 150px;
    border-radius: 20px;
}

main {
    margin: 15px auto 75px auto;
    max-width: 550px;
    padding: 10px;
    border-top: 10px solid var(--cor-main);
    border-radius: 10px;
    background-color: white;
}

main.margin-b {
    margin: 15px auto 10px auto;
}

main .campo label {
    font-size: 1rem;
}

main div.campo-radio label {
    font-size: 1.3rem;
}

main div.linha-cab {
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

main h1 {
    margin-bottom: 7px;
}

main a.link,
main a.voltar {
    display: inline-block;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    background: var(--cor-main);
    text-decoration: none;
    color: white;
}

main a.link {
    background-color: white;
    color: black;
    text-decoration: none;
    margin-left: 30px;
}

main div.container-tabela {
    width: calc(100% - 10px);
    margin: 10px auto;
    overflow-y: auto;
}

main table {
    margin: 0;
    border-collapse: collapse;
}

main table thead tr th {
    white-space: nowrap;
}

main table thead tr th:not(:first-child) {
    padding-right: 20px;
}

main table.tabela-jurado tbody tr:nth-child(even) {
    background: var(--cor-tr-zebrada);
}

main table.dataTable thead>tr>th.dt-orderable-asc,
main table.dataTable thead>tr>th.dt-orderable-desc {
    text-align: left;
}

main table.dataTable td.dt-type-numeric {
    text-align: center;
}

main table.dataTable thead>tr>th.dt-orderable-asc>span.dt-column-order {
    right: 0px;
}

main table caption {
    font-weight: bold;
    font-size: 1.3rem;
}

main table tr.rei,
main table tr.rainha {
    background: var(--cor-tr-rei-rainha);
}

main caption .aviso {
    font-size: 1rem;
}

main table tr.principe,
main table tr.princesa {
    background: var(--cor-tr-principe-princesa);
}

main table tr.terceiro,
main table tr.terceira {
    background: var(--cor-tr-terceiro-terceira);
}

main table td:not(:last-child) {
    border-right: 1px solid gray;
}

main table th {
    padding: 10px;
}

main table td {
    padding: 10px;
    white-space: nowrap;
    vertical-align: middle;
}

main div.dt-container div.dt-layout-row {
    display: flex;
    justify-content: space-around;
    width: 954px;
}

main table td:not(:first-child) {
    text-align: center;

}

main article {
    text-align: center;
}

form div.campo,
.suc-campo {
    margin: 15px 0;
}

form div.campo-radio {
    display: flex;
    gap: 20px;
}

form div.linha {
    margin: 8px;
}

form input[type=text] {
    width: calc(100% - 20px);
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.12rem;
    transition: all ease-in .15s;
}

form input[type=text]:focus {
    border: 1px solid transparent;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px var(--cor-main);
    box-shadow: inset 0 0 1px #dbdfe5, 0 0 9px var(--cor-main);
}

form select,
form option {
    width: calc(100% - 10px);
}

form select {
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.classic {
    background-image:
        linear-gradient(45deg, transparent 50%, blue 50%),
        linear-gradient(135deg, blue 50%, transparent 50%),
        linear-gradient(to right, skyblue, skyblue);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
    background-repeat: no-repeat;
}

select.classic:active {
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}

form div.linha.btns {
    position: relative;
    height: 0;
}

form .area-btn {
    position: absolute;
    width: calc(100% + 10px);

    bottom: -20px;
    left: -5px;

    transform: translateY(100%);

    display: flex;
    justify-content: space-between;
}

form .btn {
    width: fit-content;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: .9rem;
    margin: 0;
}

form .enviar {
    padding: 10px;
    background-color: var(--cor-main);
    color: white;
}

form .limpar {
    font-weight: bold;
    color: var(--cor-main);
}

dialog,
dialog::backdrop {
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;
    height: fit-content;
    border-radius: 9px;
    padding: 10px;
    border: 1px solid transparent;
}

dialog .btns-dialog {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

dialog .btns-dialog button,
dialog .btns-dialog input[type=submit] {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

dialog .btns-dialog button {
    background: var(--cor-bg-btn-modal);
    color: white;
}

footer {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 15px;
}

footer a {
    position: relative;
    color: black;
    margin-left: 19px;
}

footer a:before {
    content: '🔗';
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
}